/* Body */

body {
    background: url(../images/background.png);
}

h3 {
    color: white;
    font-size: 54px;
    text-shadow: 2px 2px black;
    text-align: center;
}

.arena {
    border-radius: 10px;
    border: 3px solid white;
}

.battleField {
    width: 800px;
    margin: auto;
}

.btn {
    border: 2px solid white;
    height: 50px;
    width: 100px;
}

.choice {
    background-color: #A5F7FB;
    border-radius: 10px;
    border: 3px solid darkgray;
    margin: 10px;
}

.flipped {
    transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -khtml-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
}

.yourChoices {
    width: 600px;
    margin: 0 auto;
}

#attack {
    position: relative;
    bottom: 150px;
    left: 28%;
}

#attackerArea {
    position: relative;
    bottom: 200px;
    left: 15%;
}

#defenderArea {
    position: relative;
    bottom: 260px;
    left: 40%;
}

@media only screen and (max-width: 640px){
    .arena {
        width: 550px;
    }
}

@media only screen and (max-width: 768px){
    .arena {
        width: 600px;
    }
}